.weather-display {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 2px;

  .weather-display_date {
    padding: 4px;
  }

  .weather-display_icon {
    padding: 4px;
  }

  .weather-display_condition {
    padding: 4px;
  }

  .weather-display_temperature {
    padding: 4px;
  }

  .weather-display_windSpeed {
    padding: 4px;
  }
}
